/*GENERAL*/
@font-face {
    font-family		: 'Viga-Regular';
    src				: url('polices//Viga-Regular.otf');
}
@font-face {
    font-family		: 'CaviarDreams';
    src				: url('polices/Caviar-Dreams/CaviarDreams.ttf');
}
@font-face {
    font-family		: 'LobsterTwo-Regular';
    src				: url('polices/Lobster-two/LobsterTwo-Regular.otf');
}


/* ---GITHUB site--- */


@media screen and (max-width: 625px)
{
	body{
		margin			: 0;
		background : blue;
	}
}
@media screen and (max-width: 976px)
{
	body{
		margin			: 0;
		background : red;
	}
}

/* ---Footer--- */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

#indicationsSousMonNom02{
	display		: flex;
	justify-content: center;
    align-items: center;
}


/* ---Header menu--- */

#menu{
	position: fixed;
	width : 100%;
	display : flex;
	justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}



/* ---Main Content--- */

#BilletsWindows{
	display		: flex;
    flex-wrap	: wrap;
}

.billet{
	margin			: 4rem;
	margin-bottom : 1rem;
	padding			: 1rem;
	background 		: white;
	border-radius	: 7px;
	box-shadow		: 0px 4px 100px;
}


/* ---Home--- */

#homepage{
	display		: flex;
	justify-content: center;
    align-items: center;
}

#MyNameTitlte{
	text-align: center
}


/* ---Tutos robots--- */

#TutoRobot{
	border-radius	: 7px;
	margin : 6rem;
	margin-top : 0px;
	padding : 3rem;
	box-shadow		: 0px 4px 100px;
}

.pointTechno{
	background : #F0E68C;
	border-radius: 10px;
	box-shadow: 6px 6px 6px grey;
	padding: 12px;
    margin: 40px;
}


